<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        Pycnikr home
    </title>
    <link rel="shortcut icon" href="../../static/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <p class="bg-primary">
        PycnikR is a tool to design Mapnik templates with the pycnik library. The availables templates are :
    </p>

    <div class="btn-group-vertical" aria-label="Vertical button group" role="group">
        {% for style_sheet in style_sheets %}
            <button class="btn btn-default" type="button" onclick="window.location.href='{{ style_sheet }}'">
                {{ style_sheet }}
            </button>
        {% endfor %}
    </div>

</body>
</html>