<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
        Pycnikr
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="../../static/leaflet-0.7.3/leaflet.css" />
    <!-- Local CSS -->
    <style type="text/css" media="screen">
        body {
            overflow: hidden;
        }
        #editor {
            height: 700px;
        }
        #map {
            height: 700px;
        }
    </style>
    <!-- jQuery JS  -->
    <script src="https://code.jquery.com/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
    <!-- Ace JS-->
    <script src="../../static/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <!-- Leaflet JS -->
    <script src="../../static/leaflet-0.7.3/leaflet.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Hello {{ name }}</h1>

    <a id="saveButton" class="btn btn-info btn-lg">SAVE</a>
    <a id="applyButton" class="btn btn-info btn-lg">APPLY</a>


    <div id="container">

        <div class="row">

            <div class="col-xs-6 col-md-6">
                <!-- Code editor with Ace  -->
                <pre id="editor">{{ stylesheet_content }}</pre>
            </div>

            <div class="col-xs-6 col-md-6">
                <!-- Map with Leaflet  -->
                <div id="map"></div>
            </div>

        </div>
    </div>

    <script>
        "use strict";

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function ajaxSetup() {
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }

        function aceEditor() {
            editor = ace.edit("editor");
            editor.setTheme("ace/theme/twilight");
            editor.getSession().setMode("ace/mode/python");
            return editor
        }

        function buttonClick(editor, map, layer) {
            $("#applyButton").click( function() {
                $.post(
                    "pycnik/{{ name }}",
                    editor.getValue(),
                    function(result) {
                        map.removeLayer(layer)
                        var layer = L.tileLayer('http://127.0.0.1:8081/{{ name }}/{z}/{x}/{y}.png', {
                            attribution: 'test'
                        });
                        layer.addTo(map);
                    });
            });

            $("#saveButton").click( function() {
                $.post(
                    "save/{{ name }}",
                    editor.getValue(),
                    function(result) {
                        //result here
                        console.log('i pushed save')
                    });
            });
        }

        $(document).ready(function() {
            ajaxSetup();
            var editor = aceEditor();
            var map = L.map('map').setView([0, 0], 2);
            var layer = L.tileLayer('http://127.0.0.1:8081/{{ name }}/{z}/{x}/{y}.png', {
                attribution: 'test'}
            );
            layer.addTo(map);
            buttonClick(editor, map, layer);
        });

    </script>

</body>
</html>
